<launch>
	<node name="masterController" pkg="beta_nodes" type="masterController"/>
	<node name="steering" pkg="beta_nodes" type="steering"/>
	<!-- <node name="estop" pkg="beta_nodes" type="estop"/> -->
	<node name="paths" pkg="beta_nodes" type="paths"/>
	<!-- <node name="replan" pkg="beta_nodes" type="replan"/> -->
	<node name="velocity" pkg="beta_nodes" type="velocity"/>
</launch>
	
